.container-main {
    width: 100%;
}

.nav-text {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.brand {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: -100px;
}

.brand p {
    padding: 10px;
    color: rgb(254, 254, 254);
}


.brand span {
    color: tomato;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input.search {
    background-color: rgb(228, 228, 228);
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0);
}

input.button {
    padding: 10px;
    height: 40px;
    width: 60px;
    border-radius: 12px;
    background-color: tomato;
    color: white;
}

.hero-img {
    background-image: url(images/banner-1.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.hero-img p {
    padding-top: 90px;
    padding-left: 50px;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(247, 150, 247);
}

.hero-img h2 {
    padding-left: 50px;
    font-size: 3em;
    width: 100%;
}

.hero-content .harga {
    padding-top: 0px;
    padding-left: 50px;
    color: grey;
    font-size: 20px;
    margin-bottom: 10px;
}

.hero-content button {
    width: 100px;
    padding: 5px;
    margin-left: 100px;
}

.parts {    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    justify-content: center;
    width: 90%;
    height: 80px;
}
.part {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    width: 25%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.part-img img {
    height: 80%;
    margin-top: 6px;
}

.part-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part-content h3 {
    font-size: 0.9em;
}
.part-content a {
    text-decoration: none;
    color: tomato;
    font-size: 0.9em;
}

@media screen and (max-width: 1260px) {
    .hero-content {
        width: 50%;
    }
}

@media screen and (max-width:985px) {
    .part-content h3, a {
        font-size: 0.8em;
    }

}
@media screen and (max-width: 903px) {
    .hero-content {
        width: 70%;
    }
}

@media screen and (max-width: 645px) {
    .hero-img p {
        padding-top: 50px;
    }

}

@media screen and (max-width: 722px) {
    .part-img {
        margin-top: 2px;
        height: 80%;
    }

    .part-content h3 {
        font-size: 0.7em;
    }

    .part-content a {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 555px) {

    .part {
        overflow: hidden;
    }

    .part-content {
        margin-top: -1000px;
    }

    .part-img {
        margin-left: 40px;
    }

    .part:nth-child(3) .part-img{
        margin-top: 4px;
        margin-left: 54px;
    }

    .part:hover {
        background-color: tomato;
    }
    
    .part:hover .part-content a {
        color: white;
    }
    
    .part:hover .part-content h3 {
        color: white;
    }
}

@media screen and (max-width: 487px){ 
    .brand {
        margin-top: 0px;
        background-color: rgb(10, 10, 10);
    }

    section {
        margin-top: 50px;
    }
}

@media screen and (max-width: 455px) {
    .hero-content {
        margin-top: 30px;
    }

    .hero-img p {
        padding-top: 20px;
    }

    .hero-content{
        width: 90%;
    }
}

@media screen and (max-width:349px){
    .hero-img p {
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    .hero-img h2 {
        font-size: 2.5em;
        margin-bottom: 5px;
    }
}